@import url('./normalize.css');
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Medium.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans';
  src: url('../fonts/SofiaSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #340742;
  --foreground: #ffffff;
  --second-color: #9b14d5
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Unbounded', sans-serif;
  margin: 0;
}

