.container {
    display: flex;
    gap: 40px;
    align-items: start;
}

.description p {
    margin-bottom: 20px;
}

.date_rating {
    display: flex;
    gap: 60px;
}

.date_rating span, .genres span, .production span,
.duration span, .budget span, .revenue span {
    font-size: 20px;
    text-decoration: underline #9b14d5;
    text-underline-offset: 5px;
}

.overview p:first-child {
    font-size: 20px;
    margin-bottom: 0.4rem;
    text-decoration: underline #9b14d5;
    text-underline-offset: 5px;
}

.tagline {
    font-size: 28px;
    opacity: 0.7;
}