.header {
    width: 100%;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    font-size: 20px;
}

.logo {
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}
