.movie_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: space-between;
    grid-gap: 30px;
    align-items: stretch;
}

.title {
    padding: 20px 0;
    margin-bottom: 20px;
}

